/** Import theme styles */
/** Breakpoints */
/** Colors */
/** Typography */
@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto:400, 500&display=swap");
    font-style: normal;
    font-weight: 400; }
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  .entry-header {
    display: none; }
  
  .site-footer {
    background: #A6D5DD;
    height: 312px;
    display: flex;
    flex-direction: column;
    padding: 10px; }
    @media (min-width: 1088px) {
      .site-footer {
        max-height: 159px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 70px;
        justify-content: center;
        align-items: center; } }
    .site-footer .logo {
      margin-right: 0; }
      @media (min-width: 769px) {
        .site-footer .logo {
          margin-right: 0; } }
      @media (min-width: 1088px) {
        .site-footer .logo {
          margin-right: 80px; } }
      .site-footer .logo p {
        font-family: "Georgia-Bold", serif;
        font-size: 24px;
        margin-top: 20px;
        padding: 0 20px;
        text-align: center;
        line-height: 28px; }
    .site-footer .phone p {
      font-family: "Georgia-Bold", serif;
      font-size: 24px;
      margin-top: 20px;
      padding: 0 20px;
      text-align: center;
      line-height: 28px; }
    .site-footer p {
      text-align: center;
      font-size: 18px;
      margin-top: 25px;
      line-height: 21px; }
      @media (min-width: 1088px) {
        .site-footer p {
          margin-top: -45px;
          margin-right: 50px; } }
    .site-footer .small {
      font-size: 14px;
      line-height: 21px; }
  
  .heroCover {
    background: #A6D5DD;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 500%;
    padding: 30px 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 210px; }
    @media (min-width: 769px) {
      .heroCover {
        background-size: contain;
        align-items: center;
        padding: 30px 20px 30px;
        max-height: 284px;
        background-position: -10% 0%; } }
    @media (min-width: 1024px) {
      .heroCover {
        min-height: 325px;
        background-position: 17%; } }
    .heroCover .inner-container {
      width: 100%; }
    .heroCover h1 {
      font-family: "Georgia-Bold", serif;
      font-size: 32px;
      color: #545D5F;
      line-height: 34px;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      text-align: center; }
      @media (min-width: 769px) {
        .heroCover h1 {
          width: 430px;
          font-size: 42px;
          line-height: 52px; } }
      @media (min-width: 1024px) {
        .heroCover h1 {
          font-size: 45px;
          line-height: 56px;
          width: 522px;
          margin-left: 60px; } }
    .heroCover button {
      width: 246px;
      height: 54px;
      font-size: 18px;
      margin-top: 25px; }
      @media (min-width: 769px) {
        .heroCover button {
          display: none; } }
  
  .two-column {
    overflow: hidden;
    display: flex; }
    @media (min-width: 769px) {
      .two-column .leftMed {
        width: 60%; }
        .two-column .leftMed .p20 {
          padding: 20px; } }
    .two-column .rightMed {
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 0 20px; }
      @media (min-width: 769px) {
        .two-column .rightMed {
          width: 40%; }
          .two-column .rightMed.center {
            text-align: center; } }
    .two-column h2 {
      line-height: 36px; }
      .two-column h2.lh {
        font-size: 32px; }
    .two-column h4 {
      font-size: 24px;
      text-align: center;
      line-height: 36px;
      padding: 0 30px; }
    .two-column p {
      line-height: 28px; }
    .two-column button {
      padding: 12px 55px;
      font-size: 18px; }
    .two-column .cta {
      margin-bottom: 40px; }
    .two-column .longCta {
      padding: 12px 35px;
      margin: 20px 20px 40px; }
      @media (min-width: 769px) {
        .two-column .longCta {
          margin-top: 0;
          margin-left: 0; } }
    .two-column .bolder {
      font-weight: 700; }
      @media (min-width: 1024px) {
        .two-column .bolder {
          font-size: 28px;
          line-height: 36px; } }
      .two-column .bolder.larger {
        font-size: 20px;
        line-height: 31px; }
        @media (min-width: 1024px) {
          .two-column .bolder.larger {
            font-size: 20px; } }
    .two-column img {
      max-width: 100%; }
      @media (min-width: 1024px) {
        .two-column img {
          max-width: none; } }
    .two-column .imgObj {
      object-fit: cover;
      object-position: 5% 0%;
      height: 280px; }
      @media (min-width: 375px) {
        .two-column .imgObj {
          object-fit: none;
          object-position: 5% 0%;
          height: 320px; } }
      @media (min-width: 769px) {
        .two-column .imgObj {
          object-fit: contain;
          object-position: unset;
          height: auto; } }
    @media (min-width: 769px) {
      .two-column .colImg {
        background: url("http://localhost:8888/bcbh/wp-content/uploads/2020/01/doctortablet.png");
        width: 50%;
        height: 460px;
        width: 60%;
        background-repeat: no-repeat;
        background-position: right;
        overflow: visible; } }
    @media (min-width: 769px) and (min-width: 1024px) {
      .two-column .colImg {
        position: absolute;
        right: 0;
        width: 65%;
        background: none; } }
    @media (min-width: 769px) {
        .two-column .colImg.land {
          height: 100%;
          width: 100%; } }
      @media (min-width: 769px) and (min-width: 769px) {
        .two-column .colImg.land {
          display: block;
          width: 50%;
          min-height: 566px;
          height: 100%;
          width: 62%;
          background: url("http://localhost:8888/bcbh/wp-content/uploads/2020/01/hands_tablet.png");
          background-position: 100% 0; } }
      @media (min-width: 769px) and (min-width: 1024px) {
        .two-column .colImg.land {
          height: 100%;
          width: 100%;
          background: none; } }
    @media (min-width: 769px) {
        .two-column .colImg .mobileImg {
          display: none; } }
      @media (min-width: 769px) and (min-width: 1024px) {
        .two-column .colImg .mobileImg {
          display: block; }
          .two-column .colImg .mobileImg.numb {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
            object-position: right; } }
  
    .two-column .colImg.mobileImgLand {
      background: none; }
      @media (min-width: 769px) {
        .two-column .colImg.mobileImgLand {
          display: block;
          background: url("http://localhost:8888/bcbh/wp-content/uploads/2020/01/hands320.png");
          background-repeat: no-repeat;
          background-size: contain; } }
    .two-column .innerP {
      padding: 20px; }
      .two-column .innerP.tabl span {
        font-weight: 700;
        font-style: italic; }
      @media (min-width: 769px) {
        .two-column .innerP.tabl {
          display: flex;
          width: 100%;
          justify-content: space-between; }
          .two-column .innerP.tabl p {
            width: 50%; }
          .two-column .innerP.tabl img {
            width: 40%; } }
      @media (min-width: 769px) and (min-width: 1024px) {
        .two-column .innerP.tabl img {
          margin-top: -175px;
          width: 45%; } }
  
      @media (min-width: 769px) {
        .two-column .innerP {
          width: 50%; } }
      @media (min-width: 1024px) {
        .two-column .innerP {
          width: 40%;
          z-index: 1;
          margin-right: auto; }
          .two-column .innerP.numb {
            width: 45%;
            padding: 0;
            margin-top: 30px;
            margin-bottom: 30px; }
            .two-column .innerP.numb p {
              font-weight: 700; } }
    .two-column .innerPout {
      margin-bottom: 20px; }
      @media (min-width: 769px) {
        .two-column .innerPout {
          width: 100%; } }
      @media (min-width: 1024px) {
        .two-column .innerPout {
          width: 50%; } }
    @media (min-width: 769px) {
      .two-column .wrap {
        flex-wrap: wrap; } }
    .two-column .headerLeft {
      padding: 0 20px;
      margin-top: 30px; }
      .two-column .headerLeft .deskImg {
        display: none; }
      @media (min-width: 769px) {
        .two-column .headerLeft {
          justify-content: flex-start;
          padding: 20px 20px; } }
      @media (min-width: 1024px) {
        .two-column .headerLeft .deskImg {
          display: block;
          margin-left: auto;
          margin-right: 80px;
          margin-top: -50px; } }
    @media (min-width: 769px) {
      .two-column .headerTab {
        margin-top: 40px;
        width: 375px;
        margin-right: 80px;
        font-size: 32px; } }
    @media (min-width: 1024px) {
      .two-column .headerTab {
        margin-right: 200px;
        margin-top: 0;
        width: 527px; } }
    .two-column .mobileImgSmall {
      max-width: 200px; }
      @media (min-width: 769px) {
        .two-column .mobileImgSmall {
          max-width: 160px; } }
      @media (min-width: 1024px) {
        .two-column .mobileImgSmall {
          display: none; } }
    .two-column .order1 {
      order: 1; }
      @media (min-width: 769px) {
        .two-column .order1 {
          order: unset; } }
    .two-column .order2 {
      order: 2; }
      @media (min-width: 769px) {
        .two-column .order2 {
          order: unset; } }
    .two-column .order3 {
      order: 3; }
      @media (min-width: 769px) {
        .two-column .order3 {
          order: unset; } }
    .two-column .warnMobpic {
      display: block; }
      @media (min-width: 769px) {
        .two-column .warnMobpic {
          display: none; } }
      @media (min-width: 1024px) {
        .two-column .warnMobpic {
          display: none; } }
    .two-column .warnMobpicB {
      display: none; }
      @media (min-width: 769px) {
        .two-column .warnMobpicB {
          display: block; } }
      @media (min-width: 1024px) {
        .two-column .warnMobpicB {
          display: block; } }
  
  .list-section {
    margin-bottom: 40px; }
    .list-section .dark-bg {
      background-color: #EFEBE6; }
      @media (min-width: 375px) {
        .list-section .dark-bg {
          margin: 0 20px; }
          .list-section .dark-bg h3 {
            font-size: 26px; }
          .list-section .dark-bg .ulCon {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column; } }
      @media (min-width: 375px) and (min-width: 769px) {
        .list-section .dark-bg .ulCon {
          flex-direction: row; } }
      @media (min-width: 375px) and (min-width: 1024px) {
        .list-section .dark-bg .ulCon {
          flex-direction: row;
          width: 590px; } }
  
    .list-section h3 {
      font-size: 24px;
      text-align: center;
      line-height: 36px;
      padding: 0 20px; }
    .list-section ul {
      margin: 0 30px; }
    @media (min-width: 769px) {
      .list-section .wrap {
        flex-wrap: wrap; } }
    .list-section.landing {
      width: 100%;
      background-color: #EFEBE6;
      min-height: 280px;
      margin-bottom: 0; }
      .list-section.landing h3 {
        font-size: 22px;
        color: #6DA7AC;
        line-height: 36px;
        margin-top: 40px; }
        @media (min-width: 769px) {
          .list-section.landing h3 {
            text-align: left; } }
      .list-section.landing .ulCon {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column; }
        @media (min-width: 769px) {
          .list-section.landing .ulCon {
            flex-direction: row; } }
        @media (min-width: 1024px) {
          .list-section.landing .ulCon {
            flex-direction: row;
            width: 760px; } }
        .list-section.landing .ulCon li {
          width: 100%; }
          @media (min-width: 1024px) {
            .list-section.landing .ulCon li {
              width: 300px; } }
          @media (min-width: 1024px) {
            .list-section.landing .ulCon li {
              width: 300px; } }
  
  .formCover {
    background: #A6D5DD;
    padding: 30px 20px 0;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797; }
    @media (min-width: 769px) {
      .formCover {
        flex-direction: column; } }
    .formCover .formHero {
      display: flex;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      min-height: 495px;
      flex-wrap: wrap;
      justify-content: center; }
      @media (min-width: 769px) {
        .formCover .formHero {
          justify-content: center; } }
      @media (min-width: 1024px) {
        .formCover .formHero {
          flex-wrap: nowrap; } }
      .formCover .formHero .heroLeft {
        width: 100%;
        text-align: center; }
        @media (min-width: 1024px) {
          .formCover .formHero .heroLeft {
            width: 50%;
            text-align: left;
            padding-right: 80px; } }
        .formCover .formHero .heroLeft h1 {
          margin-top: 30px;
          margin-bottom: 20px;
          margin-right: 0;
          line-height: 46px; }
          @media (min-width: 1024px) {
            .formCover .formHero .heroLeft h1 {
              margin-right: 40px;
              font-size: 42px; } }
        .formCover .formHero .heroLeft p {
          line-height: 28px;
          text-align: left; }
  
  div.wpforms-container-full {
    max-width: 495px;
    box-shadow: #adadad85 1px 8px 11px 0px;
    min-height: 460px;
    padding: 20px;
    background: white; }
    div.wpforms-container-full .wpforms-form input[type=text],
    div.wpforms-container-full .wpforms-form input[type=email],
    div.wpforms-container-full .wpforms-form input[type=number],
    div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form textarea.wpforms-field-small {
      background: #f5f5f5;
      border: 1px solid #EEEBE7;
      border-radius: 3px; }
    div.wpforms-container-full .wpforms-form .wpforms-required-label {
      color: orange; }
    div.wpforms-container-full .wpforms-form .wpforms-field-label {
      font-weight: normal; }
    div.wpforms-container-full .wpforms-form button[type=submit] {
      background: #DA6E6E;
      border-radius: 3px;
      color: white;
      font-size: .6em;
      text-transform: uppercase; }
  
  .privacyCover {
    background: #A6D5DD;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 500%;
    padding: 30px 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 210px; }
    @media (min-width: 769px) {
      .privacyCover {
        background-size: contain;
        align-items: center;
        padding: 30px 20px 30px;
        max-height: 284px;
        background-position: -10% 0%; } }
    @media (min-width: 1024px) {
      .privacyCover {
        min-height: 132px;
        background-position: 17%; } }
    .privacyCover .inner-container {
      width: 100%; }
    .privacyCover h1 {
      font-family: "Georgia-Bold", serif;
      font-size: 32px;
      color: #545D5F;
      line-height: 34px;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      text-align: center; }
      @media (min-width: 769px) {
        .privacyCover h1 {
          width: 430px;
          font-size: 42px;
          line-height: 52px; } }
      @media (min-width: 1024px) {
        .privacyCover h1 {
          font-size: 45px;
          line-height: 56px;
          width: 522px;
          margin-left: 60px; } }
  
  .privacy {
    margin: 50px 20px; }
    .privacy h2 {
      font-size: 23px;
      line-height: 28px; }
    .privacy p {
      font-size: 18px;
      line-height: 28px; }
      .privacy p span {
        font-weight: bold; }
    .privacy ul li {
      font-weight: normal;
      list-style: disc;
      padding: 0; }
    .privacy ul li:before {
      display: none; }
  
  /** Typography */
  html {
    font-family: "Roboto", sans-serif;
    font-size: 190%; }
  
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%; }
    .container.flex {
      display: flex; }
  
  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 769px) {
      .inner-container {
        flex-direction: row;
        align-items: flex-start; }
        .inner-container .htabl {
          padding: 20px 30px 20px 20px; } }
      @media (min-width: 769px) and (min-width: 1024px) {
        .inner-container .htabl {
          width: 50%;
          padding: 0 20px;
          margin-top: 70px; }
          .inner-container .htabl.right {
            margin-left: auto;
            margin-right: unset;
            padding: 0;
            width: 45.5%; } }
    @media (min-width: 769px) {
        .inner-container .flex {
          display: flex; } }
      @media (min-width: 769px) and (min-width: 769px) {
        .inner-container .flex {
          align-items: flex-start; }
          .inner-container .flex .cta {
            margin-top: 50px; } }
  
      @media (min-width: 769px) and (min-width: 769px) and (min-width: 1024px) {
        .inner-container .flex .cta {
          width: 430px;
          padding: 15px 0;
          margin-top: 20px;
          margin-left: 0; } }
      @media (min-width: 769px) and (min-width: 769px) {
          .inner-container .flex .innerP {
            width: 50%;
            padding: 0 20px 20px 60px; } }
  
      @media (min-width: 769px) and (min-width: 769px) and (min-width: 1024px) {
        .inner-container .flex .innerP {
          padding: 0 20px 20px 70px; } }
      @media (min-width: 769px) and (min-width: 769px) {
          .inner-container .flex img {
            width: 45%; } }
  
      @media (min-width: 769px) and (min-width: 769px) and (min-width: 1024px) {
        .inner-container .flex img {
          width: 58%;
          margin-top: -150px; } }
  
    @media (min-width: 1024px) {
      .inner-container h2 {
        margin-right: auto; } }
  
  h1 {
    font-family: "Georgia-Bold", serif;
    color: #545D5F;
    letter-spacing: 0;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); }
  
  h2 {
    font-family: "Georgia-Bold", serif;
    color: #6DA7AC;
    margin: 15px 0; }
  
  h3 {
    font-family: "Georgia-Bold", serif;
    color: #545D5F;
    margin: 18px 0; }
  
  h4 {
    font-family: "Roboto", sans-serif;
    color: #545D5F;
    margin: 25px 0; }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #545D5F; }
  
  ul {
    font-size: 20px;
    letter-spacing: 0; }
    ul li {
      line-height: 28px;
      position: relative;
      margin-bottom: 1.3em;
      padding-left: 1.5em;
      color: #545D5F;
      font-weight: 700;
      font-size: 20px; }
      ul li:before {
        content: '';
        height: .4em;
        width: .4em;
        background: #DA6E6E;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .4em;
        left: 0; }
  
  ol {
    list-style: none;
    counter-reset: li;
    font-size: 20px;
    letter-spacing: 0;
    margin-top: 40px; }
    ol li {
      counter-increment: li;
      line-height: 28px;
      position: relative;
      margin-bottom: 1.3em;
      color: #545D5F;
      font-size: 20px;
      display: flex; }
      ol li:before {
        content: counter(li);
        color: #A6D5DD;
        font-weight: 700;
        font-family: "Georgia-Bold", serif;
        margin-right: 30px;
        font-size: 54px;
        height: .4em;
        width: .4em;
        top: .4em;
        left: 0; }
  
  /* Buttons */
  button,
  .wp-block-button__link {
    background-color: #DA6E6E !important;
    border-radius: 3px;
    color: white;
    outline: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    border: none; }
  
  #sidebar {
    display: none; }
  
  hr {
    margin: 0;
    border: 2px solid #EEEBE7;
    width: 100%;
    position: absolute; }
    @media (min-width: 769px) {
      hr.full {
        width: 100%; } }
    @media (min-width: 1024px) {
      hr.full {
        width: 50%;
        margin: 0;
        border: 2px solid #EEEBE7;
        width: 50%;
        position: absolute;
        margin-top: 40px; } }
    hr.full.right {
      width: 46.5%;
      position: absolute;
      right: 0; }
      @media (min-width: 769px) {
        hr.full.right {
          width: 100%; } }
      @media (min-width: 1024px) {
        hr.full.right {
          width: 46.5%; } }
  
  /*# sourceMappingURL=main.css.map */
  
  
  button:hover {
    cursor: pointer;
  }
  
  .site-footer a {
    color: #545D5F;
  }
  
  .logo a {
    text-decoration: none;
  }
  
  .helpNumber {
    margin-top: 30px;
    color: #DA6E6E;
    margin-left: auto;
  }
  
  .entry-content hr {
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 1000px) {
    .site-footer .logo p {
      padding-left: -30px;
    }
    .two-column .inner-container .flex .cta {
      width: 440px;
    }
  }
  
  @media (min-width: 1088px) {
    .site-footer .logo {
        margin-right: 88px;
    }
    .formHero .heroRight {
      width: 470px;
    }
    .formHero .heroRight .heroRight-inner {
      padding: 2px 15px !important;
    }
    .wpforms-field-container input,
    .wpforms-submit-container button {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  
  /*UPDATED STYLES ----- FOOTER*/
  
  @media screen and (min-width: 1336px) {
    .email {
      position: relative;
      top: 35px;
    }
  
    .site-footer .logo {
      margin-right: 0px;
    }
  }
  
  